.category-card {
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 40vw;
  }

  &__thumbnail {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__bezel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, white, white, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    padding: 30px 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > * {
      display: block;
    }
  }

  &__name {
    display: block;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1em;
  }

  &__count {
    margin-bottom: 7px;
  }

  &__action {
    border-radius: 1000px;
    background-color: var(--primary-color);
    color: white;
    padding: 2px 10px;
  }
}