.child-dropdown {
  $block: ".child-dropdown";
  
  &__toggle {
    
  }

  &__items {
    display: none;
    padding-left: 10px;

    li {
      white-space: nowrap;
    }
  }

  &.is-expanded {

    #{$block}__items {
      display: block;
    }
  }
}