.child-dropdown {
  $block: ".child-dropdown";
  
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-right: 10px;
    }

    button {
      background-color: transparent;
      color: var(--primary-color);
      border: none;
    }
  }

  &__items {
    display: none;
    padding-left: 10px;

    li {
      
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  &.is-expanded {
    
    #{$block}__title {

      a {
        
      }

      button {
        
        i {
          
        }
      }
    }

    #{$block}__items {
      display: block;
    }
  }
}