.dropdown {
  $block: ".dropdown";
  position: relative;
  
  &__toggle {
    background-color: transparent;
    border: none;
  }

  &:not(.is-child) &__toggle {

    .fa-bars {
      display: none;
    }
  }

  &__items {
    display: none;
    position: absolute;
    top: 110%;
    background-color: white;
  }

  &.is-child &__items {
    position: initial;
  }

  &.is-expanded {

    #{$block}__items {
      display: block;
    }
  }
}

@media screen and (max-width: 1130px) {
  .dropdown {
    $block: ".dropdown";
    
    &__toggle {
      
    }

    &:not(.is-child) &__toggle {

      span {
        display: none;
      }

      .fa-chevron-down {
        display: none;
      }

      .fa-bars {
        display: initial;
        color: var(--primary-color);
      }
    }
  
    &__items {
      
    }
  
    &.is-child &__items {
      
    }
  
    &.is-expanded {
  
      #{$block}__items {
        
      }
    }
  }
}