.app-header {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;

  &__thin-strip {
    
  }

  &__main {
    
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  color: black;
  
  &__title {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    white-space: nowrap;

    img {
      display: block;
      height: 1.5em;
      object-fit: contain;
      margin-right: 20px;
      //border: 2px solid var(--primary-color);
      padding: 5px;
    }

    span {
      //display: block;

      small {
        font-size: 0.6em;
      }
    }
  }

  &__nav {

  }

  &__search {
    width: 40vw;
  }

  &__quick-links {
    display: flex;

    a {
      display: block;
      margin-right: 30px;
      font-size: 1.8em;
    }
  }
}
