.header-thin-strip {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);

  nav {
    display: flex;

    a {
      display: block;
      margin: 10px;
    }
  }
}