.app-header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column nowrap;

  &__thin-strip {
    
  }

  &__main {
    
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  color: black;
  
  &__title {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    white-space: nowrap;

    img {
      display: block;
      height: 1.5em;
      object-fit: contain;
      margin-right: 20px;
      //border: 2px solid var(--primary-color);
      padding: 5px;
    }

    span {
      //display: block;

      small {
        font-size: 0.6em;
      }
    }
  }

  &__nav {

  }

  &__search {
    width: 40vw;
  }

  &__quick-links {
    display: flex;

    a {
      display: block;
      margin-right: 30px;
      font-size: 1.8em;
    }
  }
}

.main-nav {
  display: flex;

  &__quick-links {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  .app-header {
    
  
    &__thin-strip {
      display: none;
    }
  
    &__main {
      
    }
  }

  .nav-bar {
    
    &__title {
      width: 70%;
      margin: 10px 0;
  
      img {

      }
  
      span {
  
        small {
          
        }
      }
    }
  
    &__nav {
      width: 30%;
      margin: 10px 0;
      display: flex;
      justify-content: flex-end;
    }
  
    &__search {
      width: 100%;
    }
  
    &__quick-links {
      display: none;
  
      a {
        
      }
    }
  }

  .main-nav {
    &__quick-links {
      display: flex;
    }
  }
}
