.header-thin-strip {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);

  nav {
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      font-size: small;
      padding: 0 15px;

      &:not(:last-child) {
        border-right: 1px solid rgba(128, 128, 128, 0.3);
      }
    }
  }
}