.product-card {
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &__categories {
    display: block;
    padding: 5px 10px;
  }

  &__thumbnail {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    display: block;
    padding: 5px 10px;
  }

  &__price {
    display: block;
    padding: 5px 10px;
    font-size: large;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 10px;
    flex-basis: 50%;
    flex-shrink: 10;
    align-items: flex-end;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      background-color: transparent;
      border: none;
      color: var(--primary-color);
    }

    button#{&}__order {
      width: 70%;
      flex-direction: row;
      padding: 5px;
      margin: 0 15% 10px;
      border-radius: 1000px;
      border: 1px solid var(--primary-color);

      i {
        font-size: large;
      }
    }
  }
}