@import '../../mixins';

.sign-in {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 0;

  > * {
    padding: 5vw;
    margin: 30px 10vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    max-width: 650px;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__pitch {
      margin: 15px 0;
    }

    &__controls {
      display: flex;
      flex-flow: column nowrap;
    }

    &__email-input {
      display: flex;
      flex-flow: column nowrap;
      //align-items: flex-start;

      input {
        padding: 10px;
        border-radius: 4px;
        margin: 10px 0;
      }
    }

    &__submit {
      @include buttons;
    }
  }

  &__mailsent {
    display: flex;
    flex-flow: column nowrap;

    &__heading {
      margin-bottom: 15px;
      line-height: 1em;
    }

    &__body {

      > * {
        display: block;
        //margin-bottom: 10px;
      }
    }
  }

  &__success {
    display: flex;
    flex-flow: column nowrap;
    
  }

  &__timeout {

  }

  &__error {

  }
}