@import '../../mixins';

.sign-in {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 0;

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &__submit {
    @include buttons;
  }
}