@import '../../../mixins';

.bestsellers {
  width: 100%;
  padding: 10px 10%;

  @media screen and (max-width: 1130px){
    padding: 10px;
  }

  &__header {
    padding: 10px;
  }
  
  &__title {

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: -10px;
  }

  &__list-item {
    @include product-card-list-item;
  }
}
